<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu Admin</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<style>
		@media (max-width: 992px) {
			.aside {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	</style>
</head>

<body>
	<header th:replace="~{fragmentos/encabezado::encabezado}"></header>
	<nav th:replace="~{fragmentos/navAdmin::navAdmin}"></nav>
	<main class="mt-3">
		<div class="d-flex">
			<aside th:replace="~{fragmentos/asideAdmin::asideAdmin}" class="w-25">
			</aside>
			<div class="d-flex flex-column w-100">
				<div class="mb-3 mx-auto">
					<a th:href="@{/admin/nuevo/tipoAccion}" class="btn btn-light mb-1 mx-3">Agregar Tipo Acción</a>
					<a th:href="@{/admin/nuevo/tipoArma}" class="btn btn-light mb-1 mx-3">Agregar Tipo Arma</a>
					<a th:href="@{/admin/agregarProductos}" class="btn btn-light mb-1 mx-3">Agregar Producto</a>
					<a th:href="@{/admin/verTablaTipos}" class="btn btn-light mb-1 mx-3">Gestionar Los tipos</a>
					<button class="btn btn-light mb-1 mx-3" id="botonProductos">Todos los Productos</button>
					<button class="btn btn-light mb-1 mx-3" id="botonEquipamiento">Equipamiento</button>
					<button class="btn btn-light mb-1 mx-3" id="botonArma">Arma</button>
				</div>
				<table class="table bg-white mx-auto table-centered table-striped mb-0 w-75" id="tablaProductos">
					<thead>
						<tr>
							<th>ID</th>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Marca</th>
							<th>Precio</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="producto : ${listaProductos}">
							<td class="align-middle" th:text="${producto.id}"></td>
							<td>
								<img class="card-img-top img-fluid" th:src="${producto.imagen}" alt="..."
									style="max-width: 100px; height: auto;" />
							</td>
							<td class="align-middle text-center" th:text="${producto.nombre}"></td>
							<td class="align-middle text-center" th:text="${producto.marca}"></td>
							<td class="align-middle text-center" th:text="${producto.precio}+€"></td>
						</tr>
					</tbody>
				</table>
				<table class="table bg-white mx-3 table-centered table-striped mb-0 d-none w-75" id="tablaArmas">
					<thead>
						<tr>
							<th>ID</th>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Marca</th>
							<th>Precio</th>
							<th>Categoría</th>
							<th>Forma disparo</th>
							<th>Capacidad cargador</th>
							<th>Licencia</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="arma : ${listaArmas}">
							<td class="align-middle" th:text="${arma.id}"></td>
							<td>
								<img class="card-img-top img-fluid" th:src="${arma.imagen}" alt="..."
									style="max-width: 100px; height: auto;" />
							</td>
							<td class="align-middle text-center" th:text="${arma.nombre}"></td>
							<td class="align-middle text-center" th:text="${arma.marca}"></td>
							<td class="align-middle text-center" th:text="${arma.precio}"></td>
							<td class="align-middle text-center" th:text="${arma.categoriaArma.nombre}"></td>
							<td class="align-middle text-center" th:text="${arma.formaDisparo.nombre}"></td>
							<td class="align-middle text-center" th:text="${arma.capacidadCargador}"></td>
							<td th:if="${arma.necesitaLicencia}" class="text-center align-middle">
								<i class="bi bi-check-circle-fill text-success"></i>
							</td>
							<td th:unless="${arma.necesitaLicencia}" class="text-center align-middle">
								<i class="bi bi-x-circle-fill text-danger"></i>
							</td>
							<td>
								<a th:href="@{/admin/editarArma/{id}(id=${arma.id})}" class="btn text-center align-middle">
									<i class="bi bi-pencil-square text-warning"></i></a>
								<a th:href="@{/admin/eliminarArma/{id}(id=${arma.id})}" class="btn btn-danger">
									<i class="bi bi-trash3-fill"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--
				<div class="modal fade" id="delete-modal_${arma.id}" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title">Borrar categoría</h4>
								</div>
								<div class="modal-body">
									<p>¿Está usted seguro de borrar esta arma?</p>
									<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
									<a th:href="@{/eliminarArma/{id}(id=${arma.id})}" class="btn btn-danger">Sí</a>
								</div>
							</div>
				-->
				<table class="table bg-white mx-3 table-centered table-striped mb-0 d-none w-75" id="tablaEquipamiento">
					<thead>
						<tr>
							<th>ID</th>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Marca</th>
							<th>Precio</th>
							<th>Talla</th>
							<th>Color</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="equipamiento : ${listaEquipamiento}">
							<td class="align-middle" th:text="${equipamiento.id}"></td>
							<td>
								<img class="card-img-top img-fluid" th:src="${equipamiento.imagen}" alt="..."
									style="max-width: 100px; height: auto;" />
							</td>
							<td class="align-middle text-center" th:text="${equipamiento.nombre}"></td>
							<td class="align-middle text-center" th:text="${equipamiento.marca}"></td>
							<td class="align-middle text-center" th:text="${equipamiento.precio}+€"></td>
							<td class="align-middle text-center" th:text="${equipamiento.talla}"></td>
							<td class="align-middle text-center" th:text="${equipamiento.color}"></td>
							<td>
								<a th:href="@{/admin/editarEquipamiento/{id}(id=${equipamiento.id})}"
									class="btn text-center align-middle">
									<i class="bi bi-pencil-square text-warning"></i>
								<a th:href="@{/admin/editarEquipamiento/{id}(id=${equipamiento.id})}" class="btn text-center align-middle">
									<i class="bi bi-pencil-square text-warning"></i>
								</a>
								<a th:href="@{/admin/eliminarEquipamiento/{id}(id=${equipamiento.id})}" class="btn text-center align-middle">
									<i class="bi bi-trash3-fill"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	</main>
	<footer th:replace="~{fragmentos/footer::footer}"></footer>

	<script defer th:inline="javascript">
		let arma = document.getElementById("botonArma");
		let equipamiento = document.getElementById("botonEquipamiento");
		let todos = document.getElementById("botonProductos");
		let tablaArmas = document.getElementById('tablaArmas');
		let tablaEquipamiento = document.getElementById('tablaEquipamiento');
		let tablaTodos = document.getElementById('tablaProductos');

		arma.addEventListener("click", mostrarTablaArmas);
		equipamiento.addEventListener("click", mostrarTablaEquipamiento);
		todos.addEventListener("click", mostrarTablaTodos);


		function mostrarTablaTodos() {
			tablaTodos.classList.remove('d-none');
			tablaArmas.classList.add('d-none');
			tablaEquipamiento.classList.add('d-none');
		}
		function mostrarTablaArmas() {
			tablaArmas.classList.remove('d-none');
			tablaTodos.classList.add('d-none');
			tablaEquipamiento.classList.add('d-none');
		}

		function mostrarTablaEquipamiento() {
			tablaEquipamiento.classList.remove('d-none');
			tablaTodos.classList.add('d-none');
			tablaArmas.classList.add('d-none');

		}
		function onPageLoad() {

			const urlParams = new URLSearchParams(window.location.search);
			const mostrarTablaParam = urlParams.get('mostrarTabla');

			if (mostrarTablaParam === "arma") {
				mostrarTablaArmas();
			} else if (mostrarTablaParam === "equip") {
				mostrarTablaEquipamiento();
			}
		}

		window.onload = onPageLoad;
	</script>
</body>

</html>