<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu Admin</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<style>
		@media (max-width: 992px) {
			.aside {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	</style>
</head>

<body class="d-flex flex-column justify-content-between min-vh-100">
	<header th:replace="~{fragmentos/encabezado::encabezado}"></header>
	<div sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')">
        <nav th:replace="~{fragmentos/navUsuario::navUsuario}"></nav>
    </div>
	<main class="container-fluid">
		<form th:action="@{/logout}" method="POST" id="logoutForm"></form>
		<div class="d-flex">
			<aside th:replace="~{fragmentos/asideAdmin::asideAdmin}" class="w-25">
			</aside>
			<div class="d-flex flex-column mx-auto w-50">
				<div class="mb-3 mx-auto">
					<a th:href="@{/admin/nuevo/tipoAccion}" class="btn btn-light mb-1 mx-3">Agregar Tipo Acción</a>
					<a th:href="@{/admin/nuevo/tipoArma}" class="btn btn-light mb-1 mx-3">Agregar Tipo Arma</a>
					<a th:href="@{/admin/agregarProducto}" class="btn btn-light mb-1 mx-3">Agregar Producto</a>
					<a th:href="@{/admin/productos}" class="btn btn-light mb-1 mx-3">Ver productos</a>
				</div>
				<div class="row ms-3">
					<div class="col-12 d-flex">
						<div class="mx-auto">
							<h3>Tabla de tipos de Arma</h3>
						</div>
						<div class="mx-auto">
							<h3 class>Tabla de tipos de Acción</h3>
						</div>
						
					</div>
					<table class="table bg-white mx-2 table-centered table-striped mb-0 w-50 col" id="tablaTipoArmas">
						<thead>
							<tr>
								<th>ID</th>
								<th class="text-center">Nombre</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tipoArma : ${listaTipoArma}">
								<td class="align-middle" th:text="${tipoArma.id}"></td>
								<td class="align-middle text-center" th:text="${tipoArma.nombre}"></td>
								<td class="w-25">
								<a th:href="@{/admin/editarTipoArma/{id}(id=${tipoArma.id})}"
									class="btn text-center align-middle"><i
										class="bi bi-pencil-square text-warning"></i></a>
									<a class="btn btn-danger btn-sm" data-bs-toggle="modal"
										th:attr="data-bs-target='#eliminarTipoArma'+ '_' + ${tipoArma.id}">
										<i class=" bi bi-trash"></i>
									</a>
									<div class="modal fade" th:id="eliminarTipoArma + '_' + ${tipoArma.id}">
										<div class="modal-dialog remove">
											<div class="modal-content">
		
												<div class="modal-header fondo border-1">
													<button type="button" class="btn-close align-self-end"
														data-bs-dismiss="modal"></button>
												</div>
		
												<div class="modal-body bg-white">
													<h4 class="text-dark mb-4 fw-bold text-center">¿Seguro que deseas
														borrar: <span th:text="${tipoArma.nombre}"></span>?</h4>
													<div class="d-grid gap-2">
														<a class="btn btn-danger btn-lg"
															th:href="@{/admin/eliminarTipoArma/{id}(id=${tipoArma.id})}">
															<i class="bi bi-trash me-2"></i>Borrar
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<table class="table bg-white mx-2 table-centered table-striped mb-0 w-50 col" id="tablaTipoAccion">
						<thead>
							<tr>
								<th>ID</th>
								<th class="text-center">Nombre</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tipoAccion : ${listaTipoAccion}">
								<td class="align-middle" th:text="${tipoAccion.id}"></td>
								<td class="align-middle text-center" th:text="${tipoAccion.nombre}"></td>
								<td class="w-25">
									<a th:href="@{/admin/editarTipoAccion/{id}(id=${tipoAccion.id})}"
										class="btn text-center align-middle"><i
											class="bi bi-pencil-square text-warning"></i></a>
										<a class="btn btn-danger btn-sm" data-bs-toggle="modal"
											th:attr="data-bs-target='#eliminarTipoAccion'+ '_' + ${tipoAccion.id}">
											<i class="bi bi-trash"></i>
										</a>
										<div class="modal fade" th:id="eliminarTipoAccion + '_' + ${tipoAccion.id}">
										<div class="modal-dialog remove">
											<div class="modal-content">
												<div class="modal-header fondo border-1">
													<button type="button" class="btn-close align-self-end"
														data-bs-dismiss="modal"></button>
												</div>
		
												<div class="modal-body bg-white">
													<h4 class="text-dark mb-4 fw-bold text-center">¿Seguro que deseas
														borrar: <span th:text="${tipoAccion.nombre}"></span>?</h4>
													<div class="d-grid gap-2">
														<a class="btn btn-danger btn-lg"
															th:href="@{/admin/eliminarTipoAccion/{id}(id=${tipoAccion.id})}">
															<i class="bi bi-trash me-2"></i>Borrar
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>