<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ventas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/estilo.css" th:href="@{/css/estilo.css}">
</head>

<body class="d-flex flex-column justify-content-between min-vh-100">
    <header th:replace="~{fragmentos/encabezado::encabezado}"></header>
    <div sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')">
        <nav th:replace="~{fragmentos/navUsuario::navUsuario}"></nav>
    </div>
    <main class="container-fluid mb-auto">
        <div class="d-flex">
            <aside th:replace="~{fragmentos/asideAdmin::asideAdmin}" class="w-25 mt-5"></aside>
            <div class="container-fluid py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mb-2">
                                        <div class="card h-100">
                                            <div class="card-body d-flex flex-column">
                                                <div class="row align-items-center flex-grow-1">
                                                    <div class="col-1 text-center">
                                                        <h5 class="mb-0">ID</h5>
                                                    </div>
                                                    <div class="col-2 text-center">
                                                        <h5 class="mb-0">ID Comprador</h5>
                                                    </div>
                                                    <div class="col ms-5 text-center">
                                                        <h5 class="mb-0">Fecha Venta</h5>
                                                    </div>
                                                    <div class="col text-center">
                                                        <h5 class="mb-0">Nº Articulos</h5>
                                                    </div>
                                                    <div class="col text-center">
                                                        <h5 class="mb-0">Importe Total</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:each="venta : ${listaVentas}">
                                    <div class="col mb-2">
                                        <div class="card h-100">
                                            <div class="card-body d-flex flex-column">
                                                <div class="row align-items-center flex-grow-1">
                                                    <div class="col-1 text-center">
                                                        <h5 th:text="${venta.id}" class="mb-0"></h5>
                                                    </div>
                                                    <div class="col-2 text-center">
                                                        <h5 th:text="${venta.comprador.id}" class="mb-0"></h5>
                                                    </div>
                                                    <div class="col ms-5 text-center">
                                                        <h5 th:text="${#temporals.format(venta.fechaPedido, 'dd-MM-yyyy HH:mm')}"
                                                            class="mb-0"></h5>
                                                    </div>
                                                    <div class="col text-center">
                                                        <h5 class="mb-0" th:text="${venta.listaLineasVentas.size()}">
                                                    </div>
                                                    <div class="col text-center">
                                                        <h5 class="mb-0"
                                                            th:text="${#numbers.formatCurrency(venta.importeTotal)}">
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>