<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center mb-auto" th:fragment="navUsuario">
	        <div class="container-fluid">
	            <ul class="navbar-nav">
	                <li class="nav-item dropdown mx-5">
	                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
	                        data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
	                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	                        <li><a class="dropdown-item" href="#!">Todos los productos</a></li>
	                        <li>
	                            <hr class="dropdown-divider" />
	                        </li>
	                        <li><a class="dropdown-item" href="#">Productos populares</a></li>
	                        <li><a class="dropdown-item" href="#">Recién llegados</a></li>
	                    </ul>
	                </li>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<li class="nav-item mx-5" >
							<a class="nav-link dropdown-item fw-bolder text-dark" th:href="@{/admin/productos}">Menú Admin</a>
						</li>
					</div>
					<li class="nav-item mx-5">
						<a th:href="@{/galerias}">Galerías</a>
					</li>
	            </ul>
	            <ul class="navbar-nav px-5">
	                <li class="nav-item">
	                    <div class="d-flex justify-content-center nav-item">
	                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
	                    </div>
	                </li>
	            </ul>
	            <ul class="navbar-nav">
	                <li class="nav-item mx-5">
						<button class="btn btn-outline-dark" th:href="@{/carrito}">
								<i class="bi-cart-fill me-1"></i> Carrito
						</button>
	                </li>
	                <li class="nav-item dropdown mx-5 border border-dark">
	                    <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
	                        aria-expanded="false"><i class="bi bi-person-circle"></i> Cuenta</a>
	                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	                        <li><a class="dropdown-item" th:href="@{/verPerfil}">Perfil</a></li>
	                        <li><a class="dropdown-item" href="#">Mis pedidos</a></li>
	                        <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
	                </li>
	            </ul>
	        </div>
	    </nav>
</html>