<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
</head>

<body>
    <main class="py-5"> <!-- El objeto es lo que se envia al enviarse todo, 
        que podría no ser un empleado si recoge atributo de otras clases-->
        <form method="POST" th:action="formularioAgregar" th:object="${formProducto}">
            <div class="container text-white fw-bolder">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase text-center">Registro de Usuario</h3>
                                    <div class="row">
                                        <div class="col-6 mb-4">
                                            <label for="nombre" class="form-label">Nombre:
                                                <span class="text-danger">*</span> </label>
                                            <input type="text" name="nombre" id="nombre" th:field="*{nombre}"
                                                class="form-control" required>
                                        </div>
                                        <div class="col-6 mb-4">
                                            <label for="descripcion" class="form-label">Descripción:
                                                <span class="text-danger">*</span> </label>
                                            <input type="text" name="descripcion" id="descripcion"
                                                th:field="*{descripcion}" class="form-control" required>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label for="marca" class="form-label">Marca:
                                                <span class="text-danger">*</span> </label>
                                            <input type="text" name="marca" id="marca" th:field="*{marca}"
                                                class="form-control" required>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label for="imagen" class="form-label">Imagen
                                                <span class="text-danger">*</span> </label>
                                            <input type="text" name="imagen" id="imagen" th:field="*{imagen}"
                                                class="form-control" required>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label for="precio" class="form-label">Precio</label>
                                            <span class="text-danger">*</span> </label>
                                            <input type="text" th:field="*{precio}" class="form-control" required></td>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label for="tipoProducto">Tipo de Producto</label>
                                            <select class="form-select" id="tipoProducto" name="tipoProducto">
                                                <option value=""></option>
                                                <option value="1">Arma</option>
                                                <option value="2">Equipamiento</option>  
                                            </select>
                                        </div>
                                        <div id="mostrarElementos">
                                           
                                        </div>
                                        <div class="form-outline mb-4">
                                            <button type="reset" class="btn btn-light btn-lg">Reiniciar</button>
                                            <input type="submit" class="btn btn-warning btn-lg ms-2" value="Enviar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <footer th:replace="~{fragmentos/footer::footer}"></footer>
    </main>
    <script defer>
        let seleccionar = document.getElementById("tipoProducto"); // Seleccionar el elemento por su id
        let mostrar = document.getElementById('mostrarElementos');
        seleccionar.addEventListener("change", establecerProducto);
        function establecerProducto() {
            let eleccion = seleccionar.value;
        
            if (eleccion === '1') {
                mostrar.innerHTML = 
                `
				<div class="form-outline mb-4">
				    <label for="formaDisparo" class="form-label">Forma de Disparo:</label>
				    <select id="formaDisparo" name="formaDisparo" th:field="\${Arma.formaDisparo}" class="form-select">
				        <option value="">Selecciona una opción</option>
				        <option th:each="tipoAccion : \${tiposAccion}" th:value="*{tipoAccion.id}" th:text="*{tipoAccion.nombre}"></option>
				    </select>
				</div>
				
				<div class="form-outline mb-4">
				    <label for="categoriaArma" class="form-label">Categoría de Arma:</label>
				    <select id="categoriaArma" name="categoriaArma" th:field="*{categoriaArma}" class="form-select">
				        <option value="">Selecciona una opción</option>
				        <option th:each="tipo : \${tiposArma}" th:value="*{id}" th:text="*{tipo.nombre}"></option>
				    </select>
				</div>


                <div class="form-outline mb-4">
                    <label for="capacidadCargador" class="form-label">Capacidad cargador</label>
                    <span class="text-danger">*</span>
                    <input id="capacidadCargador" type="number" th:field="*{capacidadCargador}" class="form-control" required>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-check-label" for="licencia">Necesita Licencia: </label>
                    <input class="form-check-input" type="radio" name="necesitaLicencia" id="licencia">
                    <label class="form-check-label" for="licencia">Si</label>
                    <input class="form-check-input" type="radio" name="necesitaLicencia" id="licencia">
                    <label class="form-check-label" for="licencia">No</label> 
                </div>
                `;
                    
            } else if (eleccion === '2') {
                mostrar.innerHTML = 
                `
                <div class="form-outline mb-4">
                    <label for="tallas">Selecciona una talla:</label>
                    <select name="tallas">
                        <option th:each="tallas : \${T(com.salesianos.triana.dam.proyectofinalprueba.model.Talla).values()}"
                            th:value="\${talla.id}" th:text="\${talla.nombre}"></option>
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label for="color">Inserte un color:</label>
                    <input list="colores" name="color" id="color" type="text">
                    <datalist id="colores">
                        <option value="Negro">
                        <option value="Desierto">
                        <option value="Verde Oliva">
                    </datalist>
                </div>
                `;
            }
        }
        
    </script>
    
    

</body>

</html>