<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Inicio de Sesión</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	</head>
    <body class="d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="~{fragmentos/encabezado::encabezado}"></header>
        <main class="container-fluid">
            <div class="w-50 bg-light mx-auto ">
                <form class="rounded-1 border" method="POST" th:action="@{/login}">
                    <div class="mb-3 mx-2 mt-2">
                        <label for="username" class="form-label">Nombre de usuario</label>
                        <input type="text" name="username" required class="form-control" id="username" aria-describedby="nombreUsuario">

                    </div>
                    <div class="mb-3 mx-2">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" name="password" required class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn mx-2 mb-2">Entrar</button>

                    <p class="mx-2">Si no estas registrado <a th:href="@{/formularioRegistro}">pincha aquí</a></p>
                </form>

            </div>
        </main>
		<footer th:replace="~{fragmentos/footer::footer}"></footer>

    </body>
</html>