<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Principal</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
</head>

<body>
	<header th:replace="~{fragmentos/encabezado::encabezado}"></header>
	<nav th:replace="~{fragmentos/navSinRegistrar::navSinRegistrar}"></nav>
	<!-- Section-->
	<main class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				<div class="col mb-5" th:each="arma : ${listaArma}">
					<div class="card h-100">
						<!-- Product image-->
						<a th:href="@{/Producto?id={id}(id=${arma.id})}">
							<img class="card-img-top" th:src="${arma.imagen}" alt="..." />
						</a>
						<!-- Product details-->
						<div class="card-body p-4">
							<div class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder" th:text="${arma.nombre}"></h5>
								<h5 class="fw-bolder" th:text="${arma.precio}+€"></h5>
								<!-- Product price-->
							</div>
						</div>
						<!-- Product actions-->
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center mt-2"><a class="btn btn-outline-dark mt-auto" href="#">View
									options</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>