<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Reservas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="d-flex flex-column justify-content-between min-vh-100 mb-auto">
    <header th:replace="~{fragmentos/encabezado::encabezado}"></header>
    <div sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')">
        <nav th:replace="~{fragmentos/navUsuario::navUsuario}"></nav>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <nav th:replace="~{fragmentos/navSinRegistrar::navSinRegistrar}"></nav>
    </div>

    <main class="container-fluid">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row justify-content-center">
                <div th:if="${param.error}" class="alert alert-danger w-100 mx-auto text-center col-12">
                    <p>No se puede reservar con una fecha antes del dia de hoy.</p>
                </div>
                <div class="col-4 mb-5" th:each="galeria : ${listaGalerias}">
                    <div class="card h-100 text-white">
                        <img class="card-img-top" th:src="${galeria.imagen}" alt="..." />
                        <div class="card-body p-4 fondoCarta">
                            <div class="text-center">
                                <h5 class="fw-bolder" th:text="${galeria.tipo.nombre}"></h5>
                                <h5 th:text="${#strings.abbreviate(galeria.descripcion,50)}"></h5>
                                <h5 class="fw-bolder" th:text="${#numbers.formatCurrency(galeria.precioHora)}"></h5>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center mt-2">
                                <div class="text-center mt-2">
                                    <a id="reservaBtn_${galeria.id}" class="btn btn-danger btn-sm"
                                        data-bs-toggle="modal"
                                        th:attr="data-bs-target='#realizarReserva' + '_' + ${galeria.id}">
                                        Hacer Reserva
                                    </a>
                                </div>
                            </div>
                            <div class="modal fade" th:id="realizarReserva + '_' + ${galeria.id}">
                                <div class="modal-dialog remove modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header fondo border-1">
                                            <button type="button" class="btn-close align-self-end"
                                                data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body bg-white">
                                            <form method="POST" th:action="@{/realizarReserva/submit}"
                                                th:object="${reserva}">
                                                <div class="container text-white fw-bolder">
                                                    <div
                                                        class="row d-flex justify-content-center align-items-center h-100">
                                                        <div class="col">
                                                            <div class="card card-registration my-4 fondo">
                                                                <div class="row g-0">
                                                                    <div class="card-body p-md-5 text-black fondo">
                                                                        <h3 class="mb-5 text-uppercase text-center">
                                                                            Realizar Reserva</h3>
                                                                        <div class="row text-dark">
                                                                            <div class="col-6 mb-4">
                                                                                <p class="oculto error"
                                                                                    id="errorFechaInicio">La fecha y
                                                                                    hora de inicio no pueden ser
                                                                                    anteriores a la fecha y hora actual.
                                                                                </p>
                                                                                <label for="fechaInicioReserva"
                                                                                    class="form-label">Fecha y Hora de
                                                                                    Inicio de la Reserva:
                                                                                    <span class="text-danger">*</span>
                                                                                </label>
                                                                                <input type="datetime-local"
                                                                                    name="fechaInicioReserva"
                                                                                    id="fechaInicioReserva"
                                                                                    th:field="*{fechaInicioReserva}"
                                                                                    class="form-control" required step="3600">
                                                                            </div>
                                                                            <div class="col-6 mb-4">
                                                                                <p class="oculto error"
                                                                                    id="errorFechaFinal">La fecha y hora
                                                                                    de fin deben ser posteriores a la
                                                                                    fecha y hora de inicio.</p>
                                                                                <label for="fechaFinReserva"
                                                                                    class="form-label">Fecha y Hora de
                                                                                    Fin de
                                                                                    la Reserva:
                                                                                    <span class="text-danger">*</span>
                                                                                </label>
                                                                                <input type="datetime-local"
                                                                                    name="fechaFinReserva"
                                                                                    id="fechaFinReserva"
                                                                                    th:field="*{fechaFinReserva}"
                                                                                    class="form-control" required step="3600">
                                                                            </div>
                                                                            <div class="form-outline mb-4">
                                                                                <label for="galeriaDescripcion"
                                                                                    class="form-label">Galería:</label>
                                                                                <input type="text"
                                                                                    id="galeriaDescripcion"
                                                                                    name="galeriaDescripcion"
                                                                                    th:value="${galeria.descripcion}"
                                                                                    class="form-control" readonly>
                                                                                <input type="hidden" id="galeriaId"
                                                                                    name="galeriaId"
                                                                                    th:value="${galeria.id}">
                                                                            </div>
                                                                            <div class="form-outline mb-4">
                                                                                <input type="submit"
                                                                                    class="btn btn-light btn-lg ms-2"
                                                                                    value="Reservar">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
    <script>
        // Función para ajustar los minutos a cero
        function ajustarHoraEnPunto(inputId) {
            let input = document.getElementById(inputId);
            let selectedTime = new Date(input.value);
            selectedTime.setMinutes(120); // Establece los minutos a cero
            input.value = selectedTime.toISOString().slice(0, 16); // Formato para datetime-local
        }
    
        // Escuchadores de eventos para los campos de fecha y hora
        document.getElementById('fechaInicioReserva').addEventListener('change', function() {
            ajustarHoraEnPunto('fechaInicioReserva');
        });
    
        document.getElementById('fechaFinReserva').addEventListener('change', function() {
            ajustarHoraEnPunto('fechaFinReserva');
        });
    </script>
</body>

</html>